<header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">ASP.NET Web API File Upload</a>
                </p>
            </div>
        </div>
    </header>
    <div id="body">
        <form name="form1" method="post" action="api/uploadfile" enctype="multipart/form-data">
            <div>
                <label>
                    Brows File
                </label>
                <input name="myFile" type="file" multiple="multiple" />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
